Source: xfonts-base
Section: fonts
Priority: optional
Maintainer: Deepin Developer <deepin-dev@deepin.org>
Build-Depends:
 debhelper (>= 7),
Build-Depends-Indep:
 pkg-config,
 xfonts-utils (>= 1:7.5),
 xutils-dev (>= 1:7.5+4),
Standards-Version: 3.8.3
#Vcs-Git
#Vcs-Browser

Package: xfonts-base
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Replaces: xfonts-misc
Suggests: xfs | xserver
Description: standard fonts for X
 xfonts-base provides a standard set of low-resolution bitmapped fonts.  In
 most cases it is desirable to have the X font server (xfs) and/or an X server
 installed to make the fonts available to X clients.
