Source: xfonts-base
Section: fonts
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Build-Depends:
 debhelper (>= 10.8),
Build-Depends-Indep:
 pkg-config,
 xfonts-utils,
 xutils-dev,
Standards-Version: 3.8.3
Vcs-Git: https://salsa.debian.org/xorg-team/font/xfonts-base.git
Vcs-Browser: https://salsa.debian.org/xorg-team/font/xfonts-base
Rules-Requires-Root: no

Package: xfonts-base
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Replaces: xfonts-misc
Suggests: xfs | xserver
Description: standard fonts for X
 xfonts-base provides a standard set of low-resolution bitmapped fonts.  In
 most cases it is desirable to have the X font server (xfs) and/or an X server
 installed to make the fonts available to X clients.
